[Unit]
Description=Mount Virtio-FS shared dir

[Mount]
What=sd
Where=/media/sd
Type=virtiofs
Options=defaults,nofail
LazyUnmount=yes
TimeoutSec=10s

[Install]
WantedBy=multi-user.target
