{
    "bookworm": (
        ver: "12",
        archs: "amd64  arm64  armel  armhf  i386  mips64el  mipsel  ppc64el  s390x",
        matrix: (arch: ["amd64", "arm64", "armel", "armhf", "i386", "mips64el", "mipsel", "ppc64el", "s390x"]),
    ),
    "bullseye": (
        ver: "11",
        archs: "amd64  arm64  armel  armhf  i386  mips64el  mipsel  ppc64el  s390x",
        matrix: (arch: ["amd64", "arm64", "armel", "armhf", "i386", "mips64el", "mipsel", "ppc64el", "s390x"]),
    ),
    "buster": (
        ver: "10",
        archs: "amd64  arm64  armel  armhf  i386  mips  mips64el  mipsel  ppc64el  s390x",
        matrix: (arch: ["amd64", "arm64", "armel", "armhf", "i386", "mips", "mips64el", "mipsel", "ppc64el", "s390x"]),
    ),
    "etch": (
        ver: "4.0",
        archs: "alpha  amd64  arm  hppa  i386  m68k  mips  mipsel  powerpc  sparc",
        matrix: (arch: ["alpha", "amd64", "arm", "hppa", "i386", "m68k", "mips", "mipsel", "powerpc", "sparc"]),
    ),
    "jessie": (
        ver: "8",
        archs: "amd64  arm64  armel  armhf  i386  mips  mipsel  powerpc  ppc64el  s390x",
        matrix: (arch: ["amd64", "arm64", "armel", "armhf", "i386", "mips", "mipsel", "powerpc", "ppc64el", "s390x"]),
    ),
    "lenny": (
        ver: "5.0",
        archs: "alpha  amd64  arm  armel  hppa  i386  mips  mipsel  powerpc  sparc",
        matrix: (arch: ["alpha", "amd64", "arm", "armel", "hppa", "i386", "mips", "mipsel", "powerpc", "sparc"]),
    ),
    "potato": (
        ver: "2.2",
        archs: "alpha  arm  i386  m68k  sparc",
        matrix: (arch: ["alpha", "arm", "i386", "m68k", "sparc"]),
    ),
    "sarge": (
        ver: "3.1",
        archs: "alpha  arm  hppa  i386  m68k  mips  mipsel  powerpc  sparc",
        matrix: (arch: ["alpha", "arm", "hppa", "i386", "m68k", "mips", "mipsel", "powerpc", "sparc"]),
    ),
    "sid": (
        ver: "unstable",
        archs: "alpha  amd64  arm64  armel  armhf  hppa  i386  m68k  mips64el  powerpc  ppc64  ppc64el  riscv64  s390x  sparc64",
        matrix: (arch: ["alpha", "amd64", "arm64", "armel", "armhf", "hppa", "i386", "m68k", "mips64el", "powerpc", "ppc64", "ppc64el", "riscv64", "s390x", "sparc64"]),
    ),
    "squeeze": (
        ver: "6.0",
        archs: "amd64  armel  i386  mips  mipsel  powerpc  sparc",
        matrix: (arch: ["amd64", "armel", "i386", "mips", "mipsel", "powerpc", "sparc"]),
    ),
    "stretch": (
        ver: "9",
        archs: "amd64  arm64  armel  armhf  i386  mips  mips64el  mipsel  ppc64el  s390x",
        matrix: (arch: ["amd64", "arm64", "armel", "armhf", "i386", "mips", "mips64el", "mipsel", "ppc64el", "s390x"]),
    ),
    "trixie": (
        ver: "13",
        archs: "amd64  arm64  armel  armhf  i386  mips64el  ppc64el  s390x",
        matrix: (arch: ["amd64", "arm64", "armel", "armhf", "i386", "mips64el", "ppc64el", "s390x"]),
    ),
    "wheezy": (
        ver: "7",
        archs: "amd64  armel  armhf  i386  mips  mipsel  powerpc  s390x  sparc",
        matrix: (arch: ["amd64", "armel", "armhf", "i386", "mips", "mipsel", "powerpc", "s390x", "sparc"]),
    ),
    "woody": (
        ver: "3.0",
        archs: "alpha  arm  hppa  i386  m68k  sparc",
        matrix: (arch: ["alpha", "arm", "hppa", "i386", "m68k", "sparc"]),
    ),
}
