#![enable(implicit_some)]
(
    os: [
        /*[0]*/ {
            "name": "debian",
            "version": "2.2",
            "codename": "Potato",
            "series": "potato",
            "date": "2000-08",
            "compoents": "main contrib non-free",
            "no-minbase": true,
            "deb822-format": false,
            "deb-architectures": [
                /*[0]*/ "i386",
                /*[1]*/ "alpha",
                /*[2]*/ "sparc",
                /*[3]*/ "m68k",
                /*[4]*/ "powerpc",
                /*[5]*/ "arm",
            ],
            "tag": [
                /*[0]*/ {"arch": "x86", "deb-arch": "i386"},
                /*[1]*/ {"arch": "alpha", "deb-arch": "alpha"},
                /*[2]*/ {"arch": "sparc", "deb-arch": "sparc"},
                /*[3]*/ {"arch": "m68k", "deb-arch": "m68k"},
                /*[4]*/ {"arch": "ppc", "deb-arch": "powerpc"},
                /*[5]*/ {"arch": "armv3", "deb-arch": "arm"},
            ],
            "sources": [
                /*[0]*/ "debian-archive/debian potato",
            ],
        },
        /*[1]*/ {
            "name": "debian",
            "version": "3.0",
            "codename": "Woody",
            "series": "woody",
            "date": "2002-07",
            "compoents": "main contrib non-free",
            "no-minbase": true,
            "deb822-format": false,
            "deb-architectures": [
                /*[0]*/ "alpha",
                /*[1]*/ "hppa",
                /*[2]*/ "ia64",
                /*[3]*/ "i386",
                /*[4]*/ "mipsel",
                /*[5]*/ "sparc",
                /*[6]*/ "arm",
                /*[7]*/ "s390",
                /*[8]*/ "mips",
                /*[9]*/ "powerpc",
                /*[10]*/ "m68k",
            ],
            "tag": [
                /*[0]*/ {"arch": "alpha", "deb-arch": "alpha"},
                /*[1]*/ {"arch": "hppa", "deb-arch": "hppa"},
                /*[2]*/ {"arch": "ia64", "deb-arch": "ia64"},
                /*[3]*/ {"arch": "x86", "deb-arch": "i386"},
                /*[4]*/ {"arch": "mipsle", "deb-arch": "mipsel"},
                /*[5]*/ {"arch": "sparc", "deb-arch": "sparc"},
                /*[6]*/ {"arch": "armv3", "deb-arch": "arm"},
                /*[7]*/ {"arch": "s390", "deb-arch": "s390"},
                /*[8]*/ {"arch": "mipsbe", "deb-arch": "mips"},
                /*[9]*/ {"arch": "ppc", "deb-arch": "powerpc"},
                /*[10]*/ {"arch": "m68k", "deb-arch": "m68k"},
            ],
            "sources": [
                /*[0]*/ "debian-archive/debian woody",
                /*[1]*/ "debian-archive/debian-security woody/updates",
            ],
        },
        /*[2]*/ {
            "name": "debian",
            "version": "3.1",
            "codename": "Sarge",
            "series": "sarge",
            "date": "2005-06",
            "compoents": "main contrib non-free",
            "no-minbase": true,
            "deb822-format": false,
            "deb-architectures": [
                /*[0]*/ "sparc",
                /*[1]*/ "s390",
                /*[2]*/ "powerpc",
                /*[3]*/ "mipsel",
                /*[4]*/ "mips",
                /*[5]*/ "m68k",
                /*[6]*/ "ia64",
                /*[7]*/ "i386",
                /*[8]*/ "hppa",
                /*[9]*/ "arm",
                /*[10]*/ "alpha",
            ],
            "tag": [
                /*[0]*/ {"arch": "sparc", "deb-arch": "sparc"},
                /*[1]*/ {"arch": "s390", "deb-arch": "s390"},
                /*[2]*/ {"arch": "ppc", "deb-arch": "powerpc"},
                /*[3]*/ {"arch": "mipsle", "deb-arch": "mipsel"},
                /*[4]*/ {"arch": "mipsbe", "deb-arch": "mips"},
                /*[5]*/ {"arch": "m68k", "deb-arch": "m68k"},
                /*[6]*/ {"arch": "ia64", "deb-arch": "ia64"},
                /*[7]*/ {"arch": "x86", "deb-arch": "i386"},
                /*[8]*/ {"arch": "hppa", "deb-arch": "hppa"},
                /*[9]*/ {"arch": "armv3", "deb-arch": "arm"},
                /*[10]*/ {"arch": "alpha", "deb-arch": "alpha"},
            ],
            "sources": [
                /*[0]*/ "debian-archive/debian sarge",
                /*[1]*/ "debian-archive/debian-security sarge/updates",
                /*[2]*/ "debian-archive/debian-volatile sarge/volatile-sloppy",
                /*[3]*/ "debian-archive/debian-volatile sarge/volatile",
                /*[4]*/ "debian-archive/debian-backports sarge-backports",
            ],
        },
        /*[3]*/ {
            "name": "debian",
            "version": "4.0",
            "codename": "Etch",
            "series": "etch",
            "date": "2007-04",
            "compoents": "main contrib non-free",
            "no-minbase": false,
            "deb822-format": false,
            "deb-architectures": [
                /*[0]*/ "arm",
                /*[1]*/ "amd64",
                /*[2]*/ "alpha",
                /*[3]*/ "sparc",
                /*[4]*/ "s390",
                /*[5]*/ "powerpc",
                /*[6]*/ "mipsel",
                /*[7]*/ "mips",
                /*[8]*/ "ia64",
                /*[9]*/ "i386",
                /*[10]*/ "hppa",
            ],
            "tag": [
                /*[0]*/ {"arch": "armv3", "deb-arch": "arm"},
                /*[1]*/ {"arch": "x64", "deb-arch": "amd64"},
                /*[2]*/ {"arch": "alpha", "deb-arch": "alpha"},
                /*[3]*/ {"arch": "sparc", "deb-arch": "sparc"},
                /*[4]*/ {"arch": "s390", "deb-arch": "s390"},
                /*[5]*/ {"arch": "ppc", "deb-arch": "powerpc"},
                /*[6]*/ {"arch": "mipsle", "deb-arch": "mipsel"},
                /*[7]*/ {"arch": "mipsbe", "deb-arch": "mips"},
                /*[8]*/ {"arch": "ia64", "deb-arch": "ia64"},
                /*[9]*/ {"arch": "x86", "deb-arch": "i386"},
                /*[10]*/ {"arch": "hppa", "deb-arch": "hppa"},
            ],
            "sources": [
                /*[0]*/ "debian-archive/debian etch",
                /*[1]*/ "debian-archive/debian-security etch/updates",
                /*[2]*/ "debian-archive/debian-volatile etch/volatile-sloppy",
                /*[3]*/ "debian-archive/debian-volatile etch/volatile",
                /*[4]*/ "debian-archive/debian-backports etch-backports",
            ],
        },
        /*[4]*/ {
            "name": "debian",
            "version": "5.0",
            "codename": "Lenny",
            "series": "lenny",
            "date": "2009-02",
            "compoents": "main contrib non-free",
            "no-minbase": false,
            "deb822-format": false,
            "deb-architectures": [
                /*[0]*/ "sparc",
                /*[1]*/ "s390",
                /*[2]*/ "powerpc",
                /*[3]*/ "mipsel",
                /*[4]*/ "mips",
                /*[5]*/ "ia64",
                /*[6]*/ "i386",
                /*[7]*/ "hppa",
                /*[8]*/ "armel",
                /*[9]*/ "arm",
                /*[10]*/ "amd64",
                /*[11]*/ "alpha",
            ],
            "tag": [
                /*[0]*/ {"arch": "sparc", "deb-arch": "sparc"},
                /*[1]*/ {"arch": "s390", "deb-arch": "s390"},
                /*[2]*/ {"arch": "ppc", "deb-arch": "powerpc"},
                /*[3]*/ {"arch": "mipsle", "deb-arch": "mipsel"},
                /*[4]*/ {"arch": "mipsbe", "deb-arch": "mips"},
                /*[5]*/ {"arch": "ia64", "deb-arch": "ia64"},
                /*[6]*/ {"arch": "x86", "deb-arch": "i386"},
                /*[7]*/ {"arch": "hppa", "deb-arch": "hppa"},
                /*[8]*/ {"arch": "armv4t", "deb-arch": "armel"},
                /*[9]*/ {"arch": "armv3", "deb-arch": "arm"},
                /*[10]*/ {"arch": "x64", "deb-arch": "amd64"},
                /*[11]*/ {"arch": "alpha", "deb-arch": "alpha"},
            ],
            "sources": [
                /*[0]*/ "debian-archive/debian lenny",
                /*[1]*/ "debian-archive/debian-security lenny/updates",
                /*[2]*/ "debian-archive/debian-volatile lenny/volatile-sloppy",
                /*[3]*/ "debian-archive/debian-volatile lenny/volatile",
                /*[4]*/ "debian-archive/debian-backports lenny-backports",
                /*[5]*/ "debian-archive/debian-backports lenny-backports-sloppy",
            ],
        },
        /*[5]*/ {
            "name": "debian",
            "version": "6.0",
            "codename": "Squeeze",
            "series": "squeeze",
            "date": "2011-02",
            "compoents": "main contrib non-free",
            "no-minbase": false,
            "deb822-format": false,
            "deb-architectures": [
                /*[0]*/ "sparc",
                /*[1]*/ "s390",
                /*[2]*/ "powerpc",
                /*[3]*/ "mipsel",
                /*[4]*/ "mips",
                /*[5]*/ "ia64",
                /*[6]*/ "i386",
                /*[7]*/ "armel",
                /*[8]*/ "amd64",
            ],
            "tag": [
                /*[0]*/ {"arch": "x86", "deb-arch": "i386", "sources": ["debian-archive/debian squeeze", "debian-archive/debian squeeze-lts", "debian-archive/debian-security squeeze/updates", "debian-archive/debian-backports squeeze-backports", "debian-archive/debian-backports squeeze-backports-sloppy"]},
                /*[1]*/ {"arch": "x64", "deb-arch": "amd64", "sources": ["debian-archive/debian squeeze", "debian-archive/debian squeeze-lts", "debian-archive/debian-security squeeze/updates", "debian-archive/debian-backports squeeze-backports", "debian-archive/debian-backports squeeze-backports-sloppy"]},
                /*[2]*/ {"arch": "sparc", "deb-arch": "sparc"},
                /*[3]*/ {"arch": "s390", "deb-arch": "s390"},
                /*[4]*/ {"arch": "ppc", "deb-arch": "powerpc"},
                /*[5]*/ {"arch": "mipsle", "deb-arch": "mipsel"},
                /*[6]*/ {"arch": "mipsbe", "deb-arch": "mips"},
                /*[7]*/ {"arch": "ia64", "deb-arch": "ia64"},
                /*[8]*/ {"arch": "armv4t", "deb-arch": "armel"},
            ],
            "sources": [
                /*[0]*/ "debian-archive/debian squeeze",
                /*[1]*/ "debian-archive/debian-security squeeze/updates",
                /*[2]*/ "debian-archive/debian-backports squeeze-backports",
                /*[3]*/ "debian-archive/debian-backports squeeze-backports-sloppy",
            ],
        },
        /*[6]*/ {
            "name": "debian",
            "version": "7",
            "codename": "Wheezy",
            "series": "wheezy",
            "date": "2013-05",
            "compoents": "main contrib non-free",
            "no-minbase": false,
            "deb822-format": false,
            "deb-architectures": [
                /*[0]*/ "amd64",
                /*[1]*/ "i386",
                /*[2]*/ "armhf",
                /*[3]*/ "powerpc",
                /*[4]*/ "sparc",
                /*[5]*/ "s390x",
                /*[6]*/ "ia64",
                /*[7]*/ "mipsel",
                /*[8]*/ "mips",
                /*[9]*/ "armel",
                /*[10]*/ "s390",
            ],
            "tag": [
                /*[0]*/ {"arch": "x64", "deb-arch": "amd64", "sources": ["debian-archive/debian wheezy", "debian-archive wheezy-backports-sloppy"]},
                /*[1]*/ {"arch": "x86", "deb-arch": "i386"},
                /*[2]*/ {"arch": "armv7a", "deb-arch": "armhf"},
                /*[3]*/ {"arch": "ppc", "deb-arch": "powerpc"},
                /*[4]*/ {"arch": "sparc", "deb-arch": "sparc"},
                /*[5]*/ {"arch": "s390x", "deb-arch": "s390x"},
                /*[6]*/ {"arch": "ia64", "deb-arch": "ia64"},
                /*[7]*/ {"arch": "mipsle", "deb-arch": "mipsel"},
                /*[8]*/ {"arch": "mipsbe", "deb-arch": "mips"},
                /*[9]*/ {"arch": "armv4t", "deb-arch": "armel"},
                /*[10]*/ {"arch": "s390", "deb-arch": "s390"},
            ],
            "sources": [
                /*[0]*/ "debian-archive/debian wheezy",
                /*[1]*/ "debian-archive/debian wheezy-backports",
                /*[2]*/ "debian-archive/debian wheezy-backports-sloppy",
                /*[3]*/ "debian-archive/debian-security wheezy/updates",
            ],
        },
        /*[7]*/ {
            "name": "debian",
            "version": "8",
            "codename": "Jessie",
            "series": "jessie",
            "date": "2015-04",
            "compoents": "main contrib non-free",
            "no-minbase": false,
            "deb822-format": false,
            "deb-architectures": [
                /*[0]*/ "i386",
                /*[1]*/ "s390x",
                /*[2]*/ "amd64",
                /*[3]*/ "mipsel",
                /*[4]*/ "armel",
                /*[5]*/ "mips",
                /*[6]*/ "powerpc",
                /*[7]*/ "ppc64el",
                /*[8]*/ "armhf",
                /*[9]*/ "arm64",
            ],
            "tag": [
                /*[0]*/ {"arch": "x86", "deb-arch": "i386", "sources": ["debian-elts jessie"]},
                /*[1]*/ {"arch": "x64", "deb-arch": "amd64", "sources": ["debian-elts jessie"]},
                /*[2]*/ {"arch": "armv7a", "deb-arch": "armhf", "sources": ["debian-elts jessie"]},
                /*[3]*/ {"arch": "armv4t", "deb-arch": "armel", "sources": ["debian-elts jessie"]},
                /*[4]*/ {"arch": "s390x", "deb-arch": "s390x"},
                /*[5]*/ {"arch": "mipsle", "deb-arch": "mipsel"},
                /*[6]*/ {"arch": "mipsbe", "deb-arch": "mips"},
                /*[7]*/ {"arch": "ppc", "deb-arch": "powerpc"},
                /*[8]*/ {"arch": "ppc64le", "deb-arch": "ppc64el"},
                /*[9]*/ {"arch": "arm64", "deb-arch": "arm64"},
            ],
            "sources": [
                /*[0]*/ "debian-archive/debian jessie",
                /*[1]*/ "debian-archive/debian jessie-backports",
                /*[2]*/ "debian-archive/debian jessie-backports-sloppy",
                /*[3]*/ "debian-archive/debian-security jessie/updates",
            ],
        },
        /*[8]*/ {
            "name": "debian",
            "version": "9",
            "codename": "Stretch",
            "series": "stretch",
            "date": "2017-06",
            "compoents": "main contrib non-free",
            "no-minbase": false,
            "deb822-format": true,
            "deb-architectures": [
                /*[0]*/ "armhf",
                /*[1]*/ "amd64",
                /*[2]*/ "i386",
                /*[3]*/ "arm64",
                /*[4]*/ "ppc64el",
                /*[5]*/ "mips64el",
                /*[6]*/ "mipsel",
                /*[7]*/ "s390x",
                /*[8]*/ "mips",
                /*[9]*/ "armel",
            ],
            "tag": [
                /*[0]*/ {"arch": "x64", "deb-arch": "amd64", "sources": ["debian-elts stretch"]},
                /*[1]*/ {"arch": "x86", "deb-arch": "i386", "sources": ["debian-elts stretch"]},
                /*[2]*/ {"arch": "armv7a", "deb-arch": "armhf", "sources": ["debian-elts stretch"]},
                /*[3]*/ {"arch": "arm64", "deb-arch": "arm64"},
                /*[4]*/ {"arch": "ppc64le", "deb-arch": "ppc64el"},
                /*[5]*/ {"arch": "mips64le", "deb-arch": "mips64el"},
                /*[6]*/ {"arch": "mipsle", "deb-arch": "mipsel"},
                /*[7]*/ {"arch": "s390x", "deb-arch": "s390x"},
                /*[8]*/ {"arch": "mipsbe", "deb-arch": "mips"},
                /*[9]*/ {"arch": "armv4t", "deb-arch": "armel"},
            ],
            "sources": [
                /*[0]*/ "debian-archive/debian stretch",
                /*[1]*/ "debian-archive/debian stretch-backports",
                /*[2]*/ "debian-archive/debian stretch-backports-sloppy",
                /*[3]*/ "debian-archive/debian-security stretch/updates",
            ],
        },
        /*[9]*/ {
            "name": "debian",
            "version": "10",
            "codename": "Buster",
            "series": "buster",
            "date": "2019-07",
            "compoents": "main contrib non-free",
            "no-minbase": false,
            "deb822-format": true,
            "deb-architectures": [
                /*[0]*/ "i386",
                /*[1]*/ "armhf",
                /*[2]*/ "amd64",
                /*[3]*/ "ppc64el",
                /*[4]*/ "s390x",
                /*[5]*/ "armel",
                /*[6]*/ "arm64",
                /*[7]*/ "mips64el",
                /*[8]*/ "mips",
                /*[9]*/ "mipsel",
            ],
            "tag": [
                /*[0]*/ {"arch": "x86", "deb-arch": "i386"},
                /*[1]*/ {"arch": "armv7a", "deb-arch": "armhf"},
                /*[2]*/ {"arch": "x64", "deb-arch": "amd64"},
                /*[3]*/ {"arch": "ppc64le", "deb-arch": "ppc64el"},
                /*[4]*/ {"arch": "s390x", "deb-arch": "s390x"},
                /*[5]*/ {"arch": "armv5te", "deb-arch": "armel"},
                /*[6]*/ {"arch": "arm64", "deb-arch": "arm64"},
                /*[7]*/ {"arch": "mips64le", "deb-arch": "mips64el"},
                /*[8]*/ {"arch": "mipsbe", "deb-arch": "mips"},
                /*[9]*/ {"arch": "mipsle", "deb-arch": "mipsel"},
            ],
            "sources": [
                /*[0]*/ "debian buster",
                /*[1]*/ "debian buster-backports",
                /*[2]*/ "debian buster-backports-sloppy",
                /*[3]*/ "debian buster-updates",
                /*[4]*/ "debian-security buster/updates",
            ],
        },
        /*[10]*/ {
            "name": "debian",
            "version": "11",
            "codename": "Bullseye",
            "series": "bullseye",
            "date": "2021-08",
            "compoents": "main contrib non-free",
            "no-minbase": false,
            "deb822-format": true,
            "deb-architectures": [
                /*[0]*/ "i386",
                /*[1]*/ "amd64",
                /*[2]*/ "ppc64el",
                /*[3]*/ "armhf",
                /*[4]*/ "arm64",
                /*[5]*/ "mips64el",
                /*[6]*/ "mipsel",
                /*[7]*/ "s390x",
                /*[8]*/ "armel",
            ],
            "tag": [
                /*[0]*/ {"arch": "x86", "deb-arch": "i386"},
                /*[1]*/ {"arch": "x64", "deb-arch": "amd64"},
                /*[2]*/ {"arch": "ppc64le", "deb-arch": "ppc64el"},
                /*[3]*/ {"arch": "armv7a", "deb-arch": "armhf"},
                /*[4]*/ {"arch": "arm64", "deb-arch": "arm64"},
                /*[5]*/ {"arch": "mips64le", "deb-arch": "mips64el"},
                /*[6]*/ {"arch": "mipsle", "deb-arch": "mipsel"},
                /*[7]*/ {"arch": "s390x", "deb-arch": "s390x"},
                /*[8]*/ {"arch": "armv5te", "deb-arch": "armel"},
            ],
            "sources": [
                /*[0]*/ "debian bullseye",
                /*[1]*/ "debian bullseye-backports",
                /*[2]*/ "debian bullseye-backports-sloppy",
                /*[3]*/ "debian bullseye-updates",
                /*[4]*/ "debian-security bullseye-security",
            ],
        },
        /*[11]*/ {
            "name": "debian",
            "version": "12",
            "codename": "Bookworm",
            "series": "bookworm",
            "date": "2023-06",
            "compoents": "main contrib non-free non-free-firmware",
            "no-minbase": false,
            "deb822-format": true,
            "deb-architectures": [
                /*[0]*/ "arm64",
                /*[1]*/ "i386",
                /*[2]*/ "amd64",
                /*[3]*/ "ppc64el",
                /*[4]*/ "armhf",
                /*[5]*/ "mips64el",
                /*[6]*/ "mipsel",
                /*[7]*/ "armel",
                /*[8]*/ "s390x",
            ],
            "tag": [
                /*[0]*/ {"arch": "arm64", "deb-arch": "arm64"},
                /*[1]*/ {"arch": "x86", "deb-arch": "i386"},
                /*[2]*/ {"arch": "x64", "deb-arch": "amd64"},
                /*[3]*/ {"arch": "ppc64le", "deb-arch": "ppc64el"},
                /*[4]*/ {"arch": "armv7a", "deb-arch": "armhf"},
                /*[5]*/ {"arch": "mips64le", "deb-arch": "mips64el"},
                /*[6]*/ {"arch": "mipsle", "deb-arch": "mipsel"},
                /*[7]*/ {"arch": "armv5te", "deb-arch": "armel"},
                /*[8]*/ {"arch": "s390x", "deb-arch": "s390x"},
            ],
            "sources": [
                /*[0]*/ "debian bookworm",
                /*[1]*/ "debian bookworm-backports",
                /*[2]*/ "debian bookworm-backports-sloppy",
                /*[3]*/ "debian bookworm-updates",
                /*[4]*/ "debian-security bookworm-security",
            ],
        },
        /*[12]*/ {
            "name": "debian",
            "version": "13",
            "codename": "Trixie",
            "series": "trixie",
            "date": "",
            "compoents": "main contrib non-free non-free-firmware",
            "no-minbase": false,
            "deb822-format": true,
            "deb-architectures": [
                /*[0]*/ "i386",
                /*[1]*/ "arm64",
                /*[2]*/ "amd64",
                /*[3]*/ "ppc64el",
                /*[4]*/ "mips64el",
                /*[5]*/ "armhf",
                /*[6]*/ "s390x",
                /*[7]*/ "armel",
            ],
            "tag": [
                /*[0]*/ {"arch": "x86", "deb-arch": "i386"},
                /*[1]*/ {"arch": "arm64", "deb-arch": "arm64"},
                /*[2]*/ {"arch": "x64", "deb-arch": "amd64"},
                /*[3]*/ {"arch": "ppc64le", "deb-arch": "ppc64el"},
                /*[4]*/ {"arch": "mips64le", "deb-arch": "mips64el"},
                /*[5]*/ {"arch": "armv7a", "deb-arch": "armhf"},
                /*[6]*/ {"arch": "s390x", "deb-arch": "s390x"},
                /*[7]*/ {"arch": "armv5te", "deb-arch": "armel"},
            ],
            "sources": [
                /*[0]*/ "debian trixie",
                /*[1]*/ "debian trixie-backports",
                /*[2]*/ "debian trixie-updates",
                /*[3]*/ "debian-security trixie-security",
            ],
        },
        /*[13]*/ {
            "name": "debian",
            "version": "inf",
            "codename": "Sid",
            "series": "sid",
            "date": "",
            "compoents": "main contrib non-free non-free-firmware",
            "no-minbase": false,
            "deb822-format": true,
            "deb-architectures": [
                /*[0]*/ "i386",
                /*[1]*/ "amd64",
                /*[2]*/ "arm64",
                /*[3]*/ "ppc64el",
                /*[4]*/ "mips64el",
                /*[5]*/ "s390x",
                /*[6]*/ "armhf",
                /*[7]*/ "riscv64",
                /*[8]*/ "armel",
            ],
            "tag": [
                /*[0]*/ {"arch": "x86", "deb-arch": "i386"},
                /*[1]*/ {"arch": "x64", "deb-arch": "amd64"},
                /*[2]*/ {"arch": "arm64", "deb-arch": "arm64"},
                /*[3]*/ {"arch": "ppc64le", "deb-arch": "ppc64el"},
                /*[4]*/ {"arch": "mips64le", "deb-arch": "mips64el"},
                /*[5]*/ {"arch": "s390x", "deb-arch": "s390x"},
                /*[6]*/ {"arch": "armv7a", "deb-arch": "armhf"},
                /*[7]*/ {"arch": "rv64gc", "deb-arch": "riscv64"},
                /*[8]*/ {"arch": "armv5te", "deb-arch": "armel"},
            ],
            "sources": [
                /*[0]*/ "debian sid",
            ],
        },
    ],
)