[Unit]
Description=Update resolv.conf with Cloudflare DNS
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'printf "nameserver 1.1.1.1\nnameserver 1.0.0.1\n" >> /etc/resolv.conf'

[Install]
WantedBy=default.target
